.App {
  flex: 1;
  font-family: cursive;
  background: #8187dc;
  background: linear-gradient(156deg, rgba(187,173,255,1) 0%, rgba(129,135,220,1) 28%, rgba(110,115,190,1) 80%,  rgb(87, 92, 160) 100%);
  color: #ffffff;
 
  
}

